<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>Flask Play - {{ title }} </title>
    {% else %}
        <title>Flask Play - Home</title>
    {% endif %}
</head>
<body>
    <h2>Posts For Your Perusal</h2>

    {% for post in posts %}
    <div>
        <h4>  {{ post.title }} <small>By {{ post.author }}</small></h4>
        <p> {{ post.content }} </p>
        <small>Published {{ post.created_at }} </small>
    </div>
    {% endfor %}
</body>
</html>